.background {
  background-color: #2e2e2e !important;
}

body {
  background-color: #1f1f1f !important;
  color: white !important;
}

.banner {
  background-color: #2a2a2a;
}

.banner h5,
.banner i {
  color: #df5262 !important;
}

.footer {
  background-color: #323232 !important;
}

.pink {
  color: #df5262 !important;
}

.sidebar {
  width: 240px;
  background-color: #2a2a2a;
  min-height: 100vh;
  position: sticky;
  top: 0;
}
